MoviesCompaire.v12.suo
MoviesCompaire/bin/Release.rar
MoviesCompaire/bin/Debug/de/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Debug/de/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Debug/DevExpress.Data.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.Data.v13.1.xml
MoviesCompaire/bin/Debug/DevExpress.Printing.v13.1.Core.dll
MoviesCompaire/bin/Debug/DevExpress.Printing.v13.1.Core.xml
MoviesCompaire/bin/Debug/DevExpress.Utils.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.Utils.v13.1.xml
MoviesCompaire/bin/Debug/DevExpress.XtraEditors.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.XtraEditors.v13.1.xml
MoviesCompaire/bin/Debug/DevExpress.XtraGrid.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.XtraGrid.v13.1.xml
MoviesCompaire/bin/Debug/DevExpress.XtraLayout.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.XtraLayout.v13.1.xml
MoviesCompaire/bin/Debug/DevExpress.XtraPrinting.v13.1.dll
MoviesCompaire/bin/Debug/DevExpress.XtraPrinting.v13.1.xml
MoviesCompaire/bin/Debug/es/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Debug/es/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Debug/ja/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Debug/MoviesCompaire.exe
MoviesCompaire/bin/Debug/MoviesCompaire.exe.config
MoviesCompaire/bin/Debug/MoviesCompaire.pdb
MoviesCompaire/bin/Debug/MoviesCompaire.vshost.exe
MoviesCompaire/bin/Debug/MoviesCompaire.vshost.exe.config
MoviesCompaire/bin/Debug/ru/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Debug/ru/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Release/de/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Release/DevExpress.Data.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.Data.v13.1.xml
MoviesCompaire/bin/Release/DevExpress.Printing.v13.1.Core.dll
MoviesCompaire/bin/Release/DevExpress.Printing.v13.1.Core.xml
MoviesCompaire/bin/Release/DevExpress.Utils.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.Utils.v13.1.xml
MoviesCompaire/bin/Release/DevExpress.XtraEditors.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.XtraEditors.v13.1.xml
MoviesCompaire/bin/Release/DevExpress.XtraGrid.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.XtraGrid.v13.1.xml
MoviesCompaire/bin/Release/DevExpress.XtraLayout.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.XtraLayout.v13.1.xml
MoviesCompaire/bin/Release/DevExpress.XtraPrinting.v13.1.dll
MoviesCompaire/bin/Release/DevExpress.XtraPrinting.v13.1.xml
MoviesCompaire/bin/Release/es/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Release/es/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Release/ja/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/bin/Release/MoviesCompaire.exe
MoviesCompaire/bin/Release/MoviesCompaire.exe.config
MoviesCompaire/bin/Release/MoviesCompaire.pdb
MoviesCompaire/bin/Release/MoviesCompaire.vshost.exe
MoviesCompaire/bin/Release/MoviesCompaire.vshost.exe.config
MoviesCompaire/bin/Release/MoviesCompaire.vshost.exe.manifest
MoviesCompaire/bin/Release/NHibernate.dll
MoviesCompaire/bin/Release/NHibernate.xml
MoviesCompaire/bin/Release/ru/DevExpress.Data.v13.1.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.Printing.v13.1.Core.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.Utils.v13.1.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.XtraEditors.v13.1.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.XtraGrid.v13.1.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.XtraLayout.v13.1.resources.dll
MoviesCompaire/bin/Release/ru/DevExpress.XtraPrinting.v13.1.resources.dll
MoviesCompaire/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MoviesCompaire/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MoviesCompaire/obj/Debug/MoviesCompaire.csproj.FileListAbsolute.txt
MoviesCompaire/obj/Debug/MoviesCompaire.csproj.GenerateResource.Cache
MoviesCompaire/obj/Debug/MoviesCompaire.exe
MoviesCompaire/obj/Debug/moviescompaire.exe.licenses
MoviesCompaire/obj/Debug/MoviesCompaire.Form1.resources
MoviesCompaire/obj/Debug/MoviesCompaire.pdb
MoviesCompaire/obj/Debug/MoviesCompaire.Properties.Resources.resources
MoviesCompaire/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MoviesCompaire/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MoviesCompaire/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MoviesCompaire/obj/Release/DesignTimeResolveAssemblyReferences.cache
MoviesCompaire/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MoviesCompaire/obj/Release/MoviesCompaire.csproj.FileListAbsolute.txt
MoviesCompaire/obj/Release/MoviesCompaire.csproj.GenerateResource.Cache
MoviesCompaire/obj/Release/MoviesCompaire.csprojResolveAssemblyReference.cache
MoviesCompaire/obj/Release/MoviesCompaire.exe
MoviesCompaire/obj/Release/moviescompaire.exe.licenses
MoviesCompaire/obj/Release/MoviesCompaire.Form1.resources
MoviesCompaire/obj/Release/MoviesCompaire.pdb
MoviesCompaire/obj/Release/MoviesCompaire.Properties.Resources.resources
MoviesCompaire/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MoviesCompaire/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MoviesCompaire/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
